<!DOCTYPE html>
<html>
<link rel="stylesheet" href="homepage_files/home_css.css">
<div class="colorstrip">
	<div>
		<img src="homepage_files/embassyLogo.png" class="logo_img">

	</div>
	<div class="name">
		<p>U.S. Embassy & Consulates<br>India</p>
	</div>
</div>

<div class="colorstrip2">
	
		<p class="strip2para"><b>Air Quality Data:</b> U.S. Embassy and Consulates’ air quality monitors measure PM 2.5 data.</p>
	
</div>

<div class="redstrip"/>

  <div class="topNav">
        <a href="./home.html">Home</a>
  <a href="./visa_page.html">Visas</a>
  <a href="./citizen_services_page.html" class="active">U.S. Citizen Services</a>
  <a href="./statuspage.html">View Status</a>
  <a href="#heathcare.html">Our Relationship</a>
  <a href="#heathcare.html">Education & Culture</a>
  <a href="#heathcare.html">Embassy & Consulates</a>

  </div>


<div class="visa_page_buttons">
	<p>Please select one:</p>

	<button class="visa_page_h1b_button" onclick="window.location.href='./passport_ren_register.jsp'">Passport Renewal</button>
</div>

</html>
