<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="homepage_files/home_css.css">

<title>Insert title here</title>
</head>
<body>
<div class="colorstrip">
	<div>
		<img src="homepage_files/embassyLogo.png" class="logo_img">

	</div>
	<div class="name">
		<p>U.S. Embassy & Consulates<br>India</p>
	</div>
</div>

<div class="colorstrip2">
	
		<p class="strip2para"><b>Air Quality Data:</b> U.S. Embassy and Consulates’ air quality monitors measure PM 2.5 data.</p>
	
</div>

<div class="redstrip"/>

  <div class="topNav">
      <a href="./home.html">Home</a>
  <a href="visa_page.html" class="active">Visas</a>
  <a href="citizen_services_page.html">U.S. Citizen Services</a>
  <a href="statuspage.html">View Status</a>
  <a href="#heathcare.html">Our Relationship</a>
  <a href="#heathcare.html">Education & Culture</a>

  </div>


<div class="visa_page_buttons">
	<h2>APPLICATION FORM STATUS </h2>
	
	<form  action="./h1b_status.jsp" method="post" id="myform">
	Enter Application ID :<br>
    <input type="text" name="app_id"><br><br>
	
	Enter Answer to the security question you chose:<br>
	<input type="text" name="answer"><br><br>
	
	<br><br>
	<input type="submit" class="visa_page_h1b_button" value="Submit" name="Submit">
	<br>
	</form>
	
	
	
</div>

</body>
</html>